<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/AsistenciaLista.css">



</head>
<body>

    <h1><img src="/static/img/logotec.webp" alt="icono" class="logo-Tec3"> Asistencia</h1>

    <div class="formulario">

        <select id="titulacion">
            <option value="" disabled selected> Seleccione Titulación</option>
            <option value="titulacion1">Titulación 1</option>
            <option value="titulacion2">Titulación 2</option>
        </select>

        <select id="curso">
            <option value="" disabled selected>Curso - División - Ciclo</option>
            <option value="curso1">Curso 1</option>
            <option value="curso2">Curso 2</option>
        </select>
    </div>

    <hr class="separador">

        <div class="fecha-container">
            <input type="date" id="fecha">
        </div>
    

    <table>
        <thead>
            <tr>
                <th>Alumnos</th>
                <th>Lun 31</th>
                <th>Mar 1</th>
                <th>Mié 2</th>
                <th>Jue 3</th>
                <th>Vie 4</th>
                <th>Sáb 5</th>
                <th>Dom 6</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nombre, Apellido</td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo red"></div></td>
                <td><div class="circulo red"></div></td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo gray"></div></td>
                <td><div class="circulo gray"></div></td>
                <td><div class="circulo gray"></div></td>
            </tr>
            <tr>
                <td>Nombre, Apellido</td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo gray"></div></td>
                <td><div class="circulo gray"></div></td>
                <td><div class="circulo gray"></div></td>
            </tr>
            <tr>
                <td>Nombre, Apellido</td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo yellow"></div></td>
                <td><div class="circulo gray"></div></td>
                <td><div class="circulo gray"></div></td>
                <td><div class="circulo gray"></div></td>
            </tr>
            <tr>
                <td>Nombre, Apellido</td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo green"></div></td>
                <td><div class="circulo red"></div></td>
                <td><div class="circulo gray"></div></td>
                <td><div class="circulo gray"></div></td>
                <td><div class="circulo gray"></div></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
