<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>
<body>
  <h1>Bienvenido</h1>
  <p>Has iniciado como admin</p>

  <h3>Opciones de gestión de usuarios:</h3>

  <!-- <ul>
    <li><a href="{{ url_for('crear_profesor') }}"><button>Crear Profesor</button></a></li>
    <li><a href="{{ url_for('crear_directivo') }}"><button>Crear Directivo</button></a></li>
    <li><a href="{{ url_for('crear_preceptor') }}"><button>Crear Preceptor</button></a></li>
    <li><a href="{{ url_for('crear_jefe_taller') }}"><button>Crear Jefe de Taller</button></a></li>
  </ul> -->

</body>
</html>
