<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="/static/css/reestablecer_contraseña.css">
</head>
<body>
    <header>
        <img src="/static/img/logotec.webp" alt="Logo Técnica 3">
        <h1>Técnica 3</h1>
    </header>
    <div class="container">
        <div class="form-box">
            <h2>Restablece tu Contraseña</h2>
            <div>
                <input type="text" id="dni" placeholder="Ingrese su DNI (solo números)">
            </div>
            <div>
                <input type="email" id="email" placeholder="Ingrese su Gmail">
            </div>
            <button onclick="validateFields()">Continuar</button>
        </div>
    </div>
    <script src="/static/js/restablecercont.js"></script>
</body>
</html>
