<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Asistencia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/TomarAsistencia.css">
    
</head>
<body>

    <h1><img src="/static/img/logotec.webp" alt="icono" class="logo-Tec3"> Asistencia</h1>

    <div class="nav-buttons">
        <button class="active"><i class="fa-solid fa-list-check"></i>
             Tomar Asistencia </button>
        <button><i class="fa-solid fa-flag"></i>
             Ver Reportes </button>
    </div>

    <hr class="separador">

    <div class="card-container">

        <div class="card">
            <h3>Curso - División<br><span>Ciclo - Turno</span></h3>
            <div class="card-options">
                <button><i class="fas fa-calendar-day"></i> Por día</button>
                <button><i class="fa-solid fa-bars"></i> Por espacio</button>

            </div>
        </div>

        <div class="card">
            <h3>Curso - División<br><span>Ciclo - Turno</span></h3>
            <div class="card-options">
                <button><i class="fas fa-calendar-day"></i> Por día</button>
                <button><i class="fa-solid fa-bars"></i> Por espacio</button>
            </div>
        </div>

        <div class="card">
            <h3>Curso - División<br><span>Ciclo - Turno</span></h3>
            <div class="card-options">
                <button><i class="fas fa-calendar-day"></i> Por día</button>
                <button><i class="fa-solid fa-bars"></i> Por espacio</button>
            </div>
        </div>

        <div class="card">
            <h3>Curso - División<br><span>Ciclo - Turno</span></h3>
            <div class="card-options">
                <button><i class="fas fa-calendar-day"></i> Por día</button>
                <button><i class="fa-solid fa-bars"></i> Por espacio</button>
            </div>
        </div>

        <div class="card">
            <h3>Curso - División<br><span>Ciclo - Turno</span></h3>
            <div class="card-options">
                <button><i class="fas fa-calendar-day"></i> Por día</button>
                <button><i class="fa-solid fa-bars"></i> Por espacio</button>

            </div>
        </div>

        <div class="card">
            <h3>Curso - División<br><span>Ciclo - Turno</span></h3>
            <div class="card-options">
                <button><i class="fas fa-calendar-day"></i> Por día</button>
                <button><i class="fa-solid fa-bars"></i> Por espacio</button>
            </div>
        </div>

    </div>

</body>
</html>
